#include <dt-bindings/zmk/matrix_transform.h>
#include <dt-bindings/led/led.h>
#include <zephyr/dt-bindings/gpio/realtek-rtl87x2g-gpio.h>

&gpioa {
    status = "okay";
};
&gpiob {
    status = "okay";
};
&usb {
    status = "okay";
};
&timer2 {
    status = "okay";
    prescaler = <1>;
    pwm2: pwm2 {
        status = "okay";
        pinctrl-0 = <&pwm2_default>;
        pinctrl-names = "default";
    };
};
&timer3 {
    status = "okay";
    prescaler = <1>;
    pwm3: pwm3 {
        status = "okay";
        pinctrl-0 = <&pwm3_default>;
        pinctrl-names = "default";
    };
};

&timer4 {
    status = "okay";
    prescaler = <1>;
    pwm4: pwm4 {
        status = "okay";
        pinctrl-0 = <&pwm4_default>;
        pinctrl-names = "default";
    };
};

&timer8 {
    status = "okay";
};

&timer9 {
    status = "okay";
};

&corewdt {
	status = "okay";
    initial-timeout-ms = <5000>;
};

/ {
	aliases {
		watchdog = &corewdt;
	};
};

&pinctrl {
	pwm2_default: pwm2_default {
		group1 {
			psels = <RTL87X2G_PSEL(TIMER_PWM2, P2_4,DIR_OUT, DRV_LOW, PULL_DOWN)>;
		};
	};
	pwm3_default: pwm3_default {
		group1 {
			psels = <RTL87X2G_PSEL(TIMER_PWM3, P2_3,DIR_OUT, DRV_LOW, PULL_DOWN)>;
		};
	};
	pwm4_default: pwm4_default {
		group1 {
			psels = <RTL87X2G_PSEL(TIMER_PWM4, P9_3,DIR_OUT, DRV_LOW, PULL_DOWN)>;
		};
	};
};

&adc {
    pinctrl-0 = <&adc_default>;
    pinctrl-names = "default";
    #address-cells = <1>;
    #size-cells = <0>;
    status = "okay";
    is-bypass-mode;
    channel@2 {
        reg = <2>;
        zephyr,gain = "ADC_GAIN_1";
        zephyr,reference = "ADC_REF_INTERNAL";
        zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
        zephyr,resolution = <12>;
    };
};	
/ {
    chosen {
        zmk,kscan = &kscan;
        zmk,matrix-transform = &default_transform;
        zmk,battery = &vbatt;
        //zmk,backlight = &backlight;
    };

    vbatt: vbatt {
        compatible = "zmk,battery-voltage-divider";
        io-channels = <&adc 2>;
        output-ohms = <100000>;
        full-ohms = <(100000 + 100000)>;
    };

    battery_pwm_leds: pwmleds {
        compatible = "pwm-leds";
        pwm_led_0 {
            pwms = <&pwm2 0 10000 PWM_POLARITY_INVERTED>;
        };
        pwm_led_1 {
            pwms = <&pwm3 0 10000 PWM_POLARITY_INVERTED>;
        };
        pwm_led_2 {
            pwms = <&pwm4 0 10000 PWM_POLARITY_INVERTED>;
        };
    };

    mode_monitor: mode_monitor {
        compatible = "zmk,mode-monitor-pin";
        ble-gpios = <&gpioa 9 (GPIO_ACTIVE_HIGH | RTL87X2G_GPIO_INPUT_DEBOUNCE_MS(8))>;
        ppt-gpios = <&gpioa 8 (GPIO_ACTIVE_HIGH | RTL87X2G_GPIO_INPUT_DEBOUNCE_MS(8))>;
        detect-usb-gpios = <&gpiob 28 (GPIO_ACTIVE_HIGH | RTL87X2G_GPIO_INPUT_DEBOUNCE_MS(20))>;
    };

	ppt: ppt {
		compatible = "zmk,ppt-node";
		enh-timers = <&timer8 &timer9>;
		status = "okay";
	};

    gpio_leds: gpio_leds {
        compatible = "zmk,gpio-leds-all";
        pwr-gpios = <&gpiob 29 GPIO_ACTIVE_HIGH>;
        cap-gpios = <&gpioa 16 GPIO_ACTIVE_HIGH>;
        num-gpios = <&gpioa 28 GPIO_ACTIVE_HIGH>;
        ble-gpios = <&gpioa 27 GPIO_ACTIVE_HIGH>;
        ppt-gpios = <&gpioa 26 GPIO_ACTIVE_HIGH>;
        other-gpios = <&gpioa 25 GPIO_ACTIVE_HIGH>,
                      <&gpioa 24 GPIO_ACTIVE_HIGH>,
                      <&gpioa 23 GPIO_ACTIVE_HIGH>;
    };

    default_transform: matrix_transform {
        compatible = "zmk,matrix-transform";
        rows = <8>;
        columns = <18>;
        map = <
            RC(0,0) RC(0,1) RC(0,2) RC(0,3) RC(0,4) RC(0,5) RC(0,6) RC(0,7) RC(0,8) RC(0,9)          RC(0,11) RC(0,12) RC(0,13) RC(0,14) RC(0,15) RC(0,16)
            RC(1,0) RC(1,1) RC(1,2) RC(1,3) RC(1,4) RC(1,5) RC(1,6) RC(1,7) RC(1,8)         RC(1,10) RC(1,11) RC(1,12) RC(1,13)          RC(1,15) RC(1,16) RC(1,17)
                    RC(2,1) RC(2,2) RC(2,3) RC(2,4) RC(2,5) RC(2,6) RC(2,7) RC(2,8) RC(2,9) RC(2,10) RC(2,11) RC(2,12) RC(2,13) RC(2,14) RC(2,15) RC(2,16) RC(2,17) 
            RC(3,0) RC(3,1)         RC(3,3) RC(3,4) RC(3,5) RC(3,6) RC(3,7) RC(3,8) RC(3,9) RC(3,10) RC(3,11) RC(3,12) RC(3,13) RC(3,14) RC(3,15) 
            RC(4,0) RC(4,1) RC(4,2) RC(4,3) RC(4,4) RC(4,5) RC(4,6) RC(4,7)                 RC(4,10) RC(4,11) RC(4,12) RC(4,13)          RC(4,15) RC(4,16) 
            RC(5,0)                         RC(5,4) RC(5,5)         RC(5,7) RC(5,8) RC(5,9) RC(5,10) RC(5,11) RC(5,12) RC(5,13) RC(5,14) RC(5,15) RC(5,16) RC(5,17)
            RC(6,0) RC(6,1) RC(6,2) RC(6,3) RC(6,4) RC(6,5) RC(6,6) RC(6,7) RC(6,8)         RC(6,10) RC(6,11) RC(6,12) RC(6,13) RC(6,14) RC(6,15) 
            RC(7,0) RC(7,1) RC(7,2) RC(7,3) RC(7,4) RC(7,5) RC(7,6) RC(7,7) RC(7,8) RC(7,9) RC(7,10) RC(7,11) RC(7,12) RC(7,13) RC(7,14)          RC(7,16)
        >;
    };
 };

&kscan {
    pinctrl-0 = <&kscan_default>;
    pinctrl-names = "default";
    row-size = <8>;
    col-size = <18>;
    debounce-time-us = <10000>;
    scan-time-us = <10000>;
    release-time-us = <10000>;
    scan-debounce-cnt = <1>;
    status = "okay";
};

&pinctrl {
    adc_default: adc_default {
        group1 {
             psels = <RTL87X2G_PSEL(SW_MODE, P2_2, DIR_IN, DRV_LOW, PULL_NONE)>;
        };
    };
    kscan_default: kscan_default {
        group1 {
            psels = <RTL87X2G_PSEL(KEY_COL_0, P0_4, DIR_OUT, DRV_LOW, PULL_NONE)>,
            <RTL87X2G_PSEL(KEY_COL_1, P4_3, DIR_OUT, DRV_LOW, PULL_NONE)>,
			<RTL87X2G_PSEL(KEY_COL_2, P4_2, DIR_OUT, DRV_LOW, PULL_NONE)>,
			<RTL87X2G_PSEL(KEY_COL_3, P4_1, DIR_OUT, DRV_LOW, PULL_NONE)>,
			<RTL87X2G_PSEL(KEY_COL_4, P4_0, DIR_OUT, DRV_LOW, PULL_NONE)>,
			<RTL87X2G_PSEL(KEY_COL_5, P0_6, DIR_OUT, DRV_LOW, PULL_NONE)>,
			<RTL87X2G_PSEL(KEY_COL_6, P0_5, DIR_OUT, DRV_LOW, PULL_NONE)>,
			<RTL87X2G_PSEL(KEY_COL_7, P9_0, DIR_OUT, DRV_LOW, PULL_NONE)>,
			<RTL87X2G_PSEL(KEY_COL_8, P6_7, DIR_OUT, DRV_LOW, PULL_NONE)>,
			<RTL87X2G_PSEL(KEY_COL_9, P1_2, DIR_OUT, DRV_LOW, PULL_NONE)>,
			<RTL87X2G_PSEL(KEY_COL_10, P6_5, DIR_OUT, DRV_LOW, PULL_NONE)>,
			<RTL87X2G_PSEL(KEY_COL_11, P6_3, DIR_OUT, DRV_LOW, PULL_NONE)>,
			<RTL87X2G_PSEL(KEY_COL_12, P6_2, DIR_OUT, DRV_LOW, PULL_NONE)>,
			<RTL87X2G_PSEL(KEY_COL_13, P6_1, DIR_OUT, DRV_LOW, PULL_NONE)>,
			<RTL87X2G_PSEL(KEY_COL_14, P9_1, DIR_OUT, DRV_LOW, PULL_NONE)>,
			<RTL87X2G_PSEL(KEY_COL_15, P6_4, DIR_OUT, DRV_LOW, PULL_NONE)>,
			<RTL87X2G_PSEL(KEY_COL_16, P0_2, DIR_OUT, DRV_LOW, PULL_NONE)>,
			<RTL87X2G_PSEL(KEY_COL_17, P0_1, DIR_OUT, DRV_LOW, PULL_NONE)>;
        };
        group2 {
            psels =							
            <RTL87X2G_PSEL(KEY_ROW_0, P0_0, DIR_IN, DRV_LOW, PULL_UP)>,
            <RTL87X2G_PSEL(KEY_ROW_1, P1_7, DIR_IN, DRV_LOW, PULL_UP)>,
            <RTL87X2G_PSEL(KEY_ROW_2, P1_5, DIR_IN, DRV_LOW, PULL_UP)>,
            <RTL87X2G_PSEL(KEY_ROW_3, P3_7, DIR_IN, DRV_LOW, PULL_UP)>,			
            <RTL87X2G_PSEL(KEY_ROW_4, P3_6, DIR_IN, DRV_LOW, PULL_UP)>,
            <RTL87X2G_PSEL(KEY_ROW_5, P3_5, DIR_IN, DRV_LOW, PULL_UP)>,
            <RTL87X2G_PSEL(KEY_ROW_6, P3_4, DIR_IN, DRV_LOW, PULL_UP)>,
            <RTL87X2G_PSEL(KEY_ROW_7, P3_3, DIR_IN, DRV_LOW, PULL_UP)>;
            bias-pull-strong;
        };

		};
};